<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115887106741-3mrp1nltv1b8r39t2gr1umrfqt2260gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115887106741-3mrp1nltv1b8r39t2gr1umrfqt2260gi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115887106741-2dsr7fp1d5j03kfoouf5rjn7m7epb792.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdoPd7fzdpXYkJoW2J6lEzXKWaElmQH1w</string>
	<key>GCM_SENDER_ID</key>
	<string>115887106741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masajapp</string>
	<key>PROJECT_ID</key>
	<string>masaj-23e10</string>
	<key>STORAGE_BUCKET</key>
	<string>masaj-23e10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115887106741:ios:103d06d5f103d7d1dc2cfc</string>
</dict>
</plist>